.App-logo {
  /*height: 40vmin;*/
  width: 10%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh; 	/*100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  max-width: 960px;
  margin: 10px auto;
  /* font-family: sans-serif; */
  text-align: left;
}

.textField {
  height: 18px;
  vertical-align: top;
 
}
.roundBtn {
  margin-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  vertical-align: top;
}

.text-center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* Dropzone */
.dropzone {
  padding: 30px;
  height: 30vh;
  /*border: 5px dashed #7649bc;*/
  border: 4px solid  silver;
  outline: none;
  cursor: pointer;
}
.dropzone-active {
  background-color: #f1e2ff;
  border: 5px solid #2fd7b5;
}
.dropzone-content {
  align-self: center;
  text-align: center;
  font-size: 24px;
}

/* Images */
.file-list {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.file-item {
  width: calc(33% - 100px);/*ori 20*/
  height: 200px;  /*ori 300*/
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin: 10px;
  cursor: move;
  transition: all 0.2s linear;
}
.file-img {
  width: 100%;
  height: 100%;
}

/* Tablets */
@media (max-width: 1000px) {
  .App {
    max-width: 600px;
  }
  .file-item {
    width: calc(50% - 22px);
    height: 200px;
  }
}

/* Mobiles */
@media (max-width: 640px) {
  .App {
    max-width: 100%;
    padding: 0 15px;
  }
  .file-item {
    width: calc(100% - 150px);
    height: 200px;
  }
}